[colors]
background_transparent = #cc24273a

base = #24273a
mantle = #1e2030
crust = #181926

text = #cad3f5
subtext0 = #a5adcb
subtext1 = #b8c0e0

surface0 = #363a4f
surface1 = #494d64
surface2 = #5b6078

overlay0 = #6e738d
overlay1 = #8087a2
overlay2 = #939ab7

blue = #8aadf4
lavender = #b7bdf8
sapphire = #7dc4e4
sky = #91d7e3
teal = #8bd5ca
green = #a6da95
yellow = #eed49f
peach = #f5a97f
maroon = #ee99a0
red = #ed8796
mauve = #c6a0f6
pink = #f5bde6
flamingo = #f0c6c6
rosewater = #f4dbd6

transparent = #FF00000

[bar/topbar]
width = 100%
height = 20pt
radius-bottom = 8

; dpi = 96

background = ${colors.background_transparent}
foreground = ${colors.text}

line-size = 0

border-size = 1
border-top-size = 0
;border-color = #00000000

padding-left = 0
padding-right = 1

module-margin = 1

;separator = |
separator-foreground = ${colors.text}

font-0 = "MesloLGM Nerd Font Mono:size=14;4"
font-1 = "Font Awesome 6 Free Regular:size=13;4"
font-2 = "Font Awesome 6 Free Solid:size=15;4"
font-3 = "Font Awesome 6 Brands Regular:size=15;4"

modules-left = i3 xwindow
modules-right = filesystem memory cpu date

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

tray-position = center
tray-offset-x = 23%
tray-maxsize = 25
tray-scale = 1.0

; wm-restack = generic
; wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

[module/i3]
type = internal/i3
show-urgent = true
index-sort = true
enable-scroll = false
fuzzy-match = true
label-focused-foreground = ${colors.green}
label-urgent-foreground = ${colors.red}

[module/xwindow]
type = internal/xwindow
label = %title:0:60:...%

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

format-mounted = <label-mounted>
label-mounted = %{T3} %{T-}%used%/%total%

label-unmounted = %mountpoint% not mounted
label-warn-foreground = ${collors.red}
warn-percentage = 20

[module/memory]
type = internal/memory
interval = 1
format-prefix = "%{T3}%{T-} "
format-prefix-foreground = ${colors.blue}
label = %percentage_used:2%%

warn-percentage = 80
label-warn-foreground = ${colors.red}

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "%{T3}%{T-} "
format-prefix-foreground = ${colors.blue}

label = %percentage:2%%

warn-percentage = 80
label-warn-foreground = ${colors.red}

[module/date]
type = internal/date
interval = 1

date = %Y-%m-%d %H:%M:%S

label = %{T3}%{T-} %date%
label-foreground = ${colors.text}

[settings]
screenchange-reload = true
pseudo-transparency = true

; vim:ft=dosini
